<h1>Delete Book</h1>

<div class="books delete">
  <%= form_for(@book, method: 'delete') do |f| %>
    <p>Are you sure you want to delete this book?</p>
    <p><%= @book.title %></p>

    <div class="form-buttons">
      <%= f.submit("Delete Book") %>
    </div>
  <% end %>
  <br>
  <%= link_to('Back to book list', books_path) %>
</div>
